@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background: #e2ebf3;
  font-family: 'Libre Baskerville', serif;
}

//Home View Layout
.header-text {
  vertical-align: top;
  border-radius: 15px;
  border: 2px solid #850BFF;
  color: white;
  height: 100px;
  background-color: #a64dff;
}

h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}

img.header-image {
  width: 100%;
  height: 275px;
  border: 2px solid #850BFF;
}

.collection-header {
  margin: 1%;
}

.buttons {
  margin: 0;
  padding-left: 12px;
  color: green;
}

.thumbnails {
  display: inline-block;
  margin-left: 15px;
  margin-top: 25px;
  //border: 1px solid #00004d;
  //border: 1px solid #446600;
}

.add {
  background-color: #ccebff;
  border-radius: 5px;
  border: 1px solid #446600;
  margin-left: 45px;
}

hr {
  border: 1px solid #446600;
}

.edit {
  background-color: #ccebff;
  border-radius: 5px;
  border: 1px solid #446600;
  margin-left: 10px;
}

.home {
  background-color: #ccebff;
  border-radius: 5px;
  border: 1px solid #446600;
  margin-left: 45px;
}

.collection-display {
  border-radius: 15px;
  display: inline-block;
  margin: 2% 10%;
}

.singleImage {
  margin: 2%;
  border: 1px solid #850BFF;
}

.single {
  border-radius: 5px;
  display: inline-block;
}

.details {
  display: inline-block;
  width: 50%;
  margin-left: 5%;
  vertical-align: top;
}



//Add View Layout

.detailsAdd {
  width: 100%;
  margin: 5% auto;
  @include outer-container;
}

.detailsAdd p {
  color: blue;
  text-align: center;
  margin-left: 80px;
}

.add-container {
  border: 2px solid #446600;
  @include span-columns(5);
  @include shift(4);
}

.add-form-label {
  line-height: 30px;
  display: inline-block;
  margin: 10px auto;
  width: 250px;
  text-align: left;
}

.add-form {
  width: 100%;
  display: inline-block;
  margin: 5% auto;
}

.add-form-label {
  line-height: 30px;
  display: inline-block;
  padding-left: 5%;
  width: 200px;
}

.add-form-label-desc {
  line-height: 45px;
  display: inline-block;
  vertical-align: top;
  margin-left: 21px;
}

.description {
  margin-top: 15px;
  margin-left: 77px;
}

.save {
  background-color: #ccebff;
  border-radius: 5px;
  border: 1px solid #446600;
  margin-left: 20px;
  color: green;
}

//Edit View Layout

p {
  text-align: center;
}

.detailsEdit {
  width: 100%;
  margin: 5% auto;
  @include outer-container;
}

.div {
  display: block;  
}

.wineTitle, .photos, .terroir, .id, .temp, .food {
  width: 220px;
  line-height: 30px;
  margin-bottom: 5px;
}

.description {
  width: 220px;
  height: 150px;
  margin-left: 73px;
}


.id {
  background-color: #E2EBF3;
  border: none;
  display: none;
}

.edit-container {
  border: 1px solid black;
  @include span-columns(6);
  @include shift(3); 
}

.edit-form {
  width: 100%;
  display: inline-block;
  margin: 10% auto;
}

.edit-form-label {
  line-height: 30px;
  display: inline-block;
  padding-left: 5%;
  width: 200px;
}

.edit-form-label-desc {
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
}

.btn {
  margin: 5% auto;
  width: 100%;
  text-align: center;
}

.save {
  margin: 5% auto;
}
            

