@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background: #e2ebf3;

}

.app {
  margin-left: 50px;
  margin-right: 50px;
  //border: 5px solid #850BFF;
  //border-radius: 20px;
  //margin-top: 
}

h1 {
  background-color: #6600CC;
  border-radius: 20px;
  border: 5px solid #850BFF;
  color: white;
  text-align: center;
  height: 90px;
  padding-top: 25px;


}
